{{ title }}
{%- macro descriptionBlock(line) -%}
{{ line }}
{%- endmacro -%}
{% for items in description %}
{{ descriptionBlock(items) }}
{%- endfor %}
&nbsp;
{%- if tableOfContents == true %}
# Table of Contents
{%- if requirements == true %}
- [Requiremets](#requirements)
{%- endif -%}
{% if gettingStarted == true %}
- [Getting Started](#getting-started)
    - [Basic usage](#basic-usage)
    - [Advanced usage](#advanced-usage)
{%- endif -%}
{% if resourceStatement == true %}
- [Resources](#resources)
{%- endif -%}
{% if varsstatement == true %}
- [Variables](#variables)
{%- endif -%}
{% if outsstatement == true %}
- [Outputs](#outputs)
{%- endif %}
- [Contributing](#contributing)
{%- endif %}
&nbsp;
{%- if requirements == true %}
# Requirements
| Software     |  Version  | Source |
| :--------    | :-------- | :----- |
{%- macro buildRequirements(name, version, source) -%}
| {{name}} | {{version}} | {{source}} |
{%- endmacro -%}
{% for items in versions %}
{{ buildRequirements(items.name, items.version, items.source) }}
{%- endfor -%}
{%- endif %}
&nbsp;
{%- if gettingStarted == true %}
# Getting Started
## Basic usage
{%- macro basicUsage(line) -%}
{{ line }}
{%- endmacro -%}
{% for items in gettingStartedBasic %}
{{ basicUsage(items) }}
{%- endfor %}
## Advanced usage
{%- macro advancedUsage(line) -%}
{{ line }}
{%- endmacro -%}
{% for items in gettingStartedAdvanced %}
{{ advancedUsage(items) }}
{%- endfor %}
{%- endif %}
&nbsp;
{%- if resourcesStatement == true %}
# Resources
| Resource |
| :------- |
{%- macro buildResources(name) -%}
| `{{name}}` |
{%- endmacro -%}
{% for items in resources %}
{{ buildResources(items) }}
{%- endfor %}
{%- endif %}
&nbsp;
{%- if varsstatement == true %}
# Variables
| Variable | Type | Default | Description | Sensitive |
| :------- | :--: | :------ | :---------- | :-------- |
{%- macro buildVars(name, type, default, description, sensitive) -%}
| `{{name}}` | {{type}} | {{default}} | {{description}} | {{sensitive}} |
{%- endmacro -%}
{% for items in variables %}
{{ buildVars(items.name, items.type, items.default, items.description, items.sensitive) }}
{%- endfor %}
{%- endif %}
&nbsp;
{%- if outsstatement == true %}
# Outputs
| Output | Description |
| :----- | :---------- |
{%- macro buildOuts(name, description) -%}
| `{{ name }}` | {{description}} |
{%- endmacro -%}
{% for items in outputs %}
{{ buildOuts(items.name, items.description) }}
{%- endfor %}
{%- endif %}
&nbsp;
## Contributing
{%- if contribute == True %}
Feel free to create pull requests.
{%- endif -%}
{%- if contribute == False %}
Currently not accepting pull requests.
{%- endif -%}